/* Estilos generales para el carrito */
.cart-container {
  max-width: 600px;
  margin: 100px auto; /* Mueve el container hacia abajo y lo centra */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cart-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Lista de productos en el carrito */
.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-image-container {
  flex: 0 0 100px; /* Fija el ancho del contenedor de la imagen */
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-info {
  display: flex;
  justify-content: space-between; /* Separar el nombre y el precio */
  align-items: center;
  flex: 1;
  padding-left: 20px;
  padding-right: 80px;
  color: #333;
}


.cart-item-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 16px;
  color: #555;
}

.cart-item-remove {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item-remove:hover {
  background-color: #c82333;
}

/* Estilo del total */
.cart-total {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

/* Estilo del botón de compra */
.cart-purchase-btn {
  display: block;
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-purchase-btn:hover {
  background-color: #218838;
}

/* Estilo para cuando el carrito está vacío */
.cart-empty {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin-top: 50px;
}
