/* Estilos generales del contenedor */
.register-container {
    max-width: 600px;
    margin: 100px auto; /* Centrar en la pantalla con un margen superior */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; /* Centrar todos los elementos */
}

/* Encabezado */
.register-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Mensaje de error */
.register-error {
    color: red;
    margin-bottom: 15px;
}

/* Estilos de formulario */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de registrarse */
.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #8a8a8a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #2d3bff8a;
    color: rgb(0, 0, 0);
}
